#################################################################################
## General
#################################################################################
.env
.gitnew
.gitold

#################################################################################
## Javascript / Typescript
#################################################################################
dist
node_modules

#################################################################################
## Rust
#################################################################################
target
rustc-ice-*

#################################################################################
## Docker
#################################################################################
.docker/runtime

#################################################################################
## Moonrepo
#################################################################################
.moon/cache
.moon/docker

#################################################################################
## Nix
#################################################################################
.direnv
