#################################################################################
## General
#################################################################################
.env

#################################################################################
## Javascript / Typescript
#################################################################################
dist
node_modules

#################################################################################
## Rust
#################################################################################
target
rustc-ice-*
*.pending-snap

#################################################################################
## Docker
#################################################################################
.docker/runtime

#################################################################################
## Moonrepo
#################################################################################
.moon/cache
.moon/docker

#################################################################################
## Nix
#################################################################################
.direnv
