@tailwind base;
@tailwind components;
@tailwind utilities;

button:not(.clickable-icon) {
    box-shadow: unset;
}

input[type="text"]:focus,
input[type="text"]:focus-visible {
    box-shadow: unset;
}

body > div.tooltip {
    display: none;
}

hr {
    border-top: revert;
    border-color: revert;
    margin: revert;
}

button {
    justify-content: revert;
}
